// These are the fonts the "ff" function uses as a fallback.
$g-fallback-font: "Open Sans", Arial, sans-serif;

// All colors on the site must be saved here as a variable.
// The variables must be prefixed with "c-", and the name must be the color's
// name. For inspiration on the color names, you can use this:
// http://chir.ag/projects/name-that-color
// Also, the color name must be in all lowercase, with the syllables separated
// by a dash. (Ex.: "$c-this-is-a-color")
// This convention is based on the following discussion: https://trello.com/c/zJwuLnvf
$c-white: #fff;
$c-black: #000;

// font-weights
$fw-thin       : 100;
$fw-extralight : 200;
$fw-light      : 300;
$fw-normal     : 400;
$fw-regular    : 400;
$fw-medium     : 500;
$fw-semibold   : 600;
$fw-bold       : 700;
$fw-black      : 700;
$fw-extrabold  : 800;
$fw-ultrabold  : 900;
