{
  "//": {
    "browserify shim examples": {
      "modernizr": "global:Modernizr",
      "sweet-alert": "global:swal",
      "ckeditor": "global:CKEDITOR",
      "angular": "global:angular"
    }
  }
}
