@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

* {
  box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-left {
	text-align: left;
}

body {
    font-family: "Quicksand", Arial;
    font-size: 1rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

header {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style: none;
    text-align: right;
    margin-right: 1rem;
}

nav li {
	display: inline-block;
	cursor: pointer;
}

nav a.title {
    position: absolute;
    left: 1rem;
    line-height: 1.5;
    text-decoration: none;    
}

.main article {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: translate(-50%, -50%); /* IE 9 */
          transform: translate(-50%, -50%); /* IE 10, Fx 16+, Op 12.1+ */
    font-weight: 600;
    font-size: 10rem;
    border-radius: 16rem;
    padding: 4rem 2rem;
    min-width: 22rem;
    text-align: center;
    cursor:pointer;
}

h1 .material-icons {
    font-size: 7rem;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: default;
}
/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: $modal-delay;
          transition-delay: $modal-delay;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal__bg {
  background: transparent;
}
.modal__dialog {
  max-width: 600px;
  padding: 1.2rem;
}
.modal__content {
  will-change: transform, opacity;
  position: relative;
  text-align: center;
  padding: 2.4rem;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  	z-index: 1100;
  	cursor: pointer;
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;	
}
.modal__close.text-close {
	position: relative;
    top: 0;
    right: 0;
    text-decoration: none;
    background: transparent;
    padding: 0.5rem 1rem;
    margin: 2rem 0 0 0;
    display: block;
    color: white;
    border-radius: 0.5rem;
    font-weight: 600;
    will-change: background;
    -webkit-transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  			transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__close .material-icons{
  	pointer-events: none;
	border-radius: 4rem;
}
.modal__trigger {
-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	-webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__trigger.floating {
	position: absolute;
	bottom: 3rem;
	right: 3rem;
	display: inline-block;
	padding: 1.2rem;	
	text-decoration: none;	
	line-height: 1;
	cursor: pointer;
	border-radius: 3rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger.floating:hover {
  background: #e5d3d6;
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffebee;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Color schemes */
.color-picker span {
	width: 2rem;
    height: 2rem;
    display: inline-block;
    border-radius: 4rem;
    cursor: pointer;
    position: relative;
}
.color-picker span:after {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: translate(-50%, -50%); /* IE 9 */
          transform: translate(-50%, -50%); /* IE 10, Fx 16+, Op 12.1+ */
}
.color-picker span.orange {
	background:#EB6200;
}
.color-picker span.lime  {
	background:rgb(0, 235, 107);
}
.color-picker span.black {
	background:rgb(80, 80, 80);
}
.color-picker span.blue {
	background:rgb(96, 151, 255);
}
.blue .color-picker span.blue:after,
.black .color-picker span.black:after,
.lime .color-picker span.lime:after,
.orange .color-picker span.orange:after {
	content: '\2713';
}
/* Orange */
body.orange {
	color: #EB6200;
	background-color: rgba(255,136,51,0.1);
}
.orange header {
	box-shadow: 0px 3px 16px rgba(235, 98, 0, 0.25);
    color: #eb6200;
}
.orange nav a.title {
	color: #eB6200;
}
.orange .main article {
	border: 2rem solid #eB6200;
}
.orange .modal__content {
	background: #FFEBEE;
}
.orange .modal__close {
	color: #eB6200;
}
.orange .modal__close .material-icons{
	color: #EB6200;
	background: #FFEBEE;
}
.orange .modal__trigger.floating {
	background: #eb6200;
	color: rgba(255,255,255,0.8);
}
.orange .modal__close.text-close {
    background: #eb6200;
    border: 2px solid transparent;
    color: #FFFFFF;
}
.orange .modal__close.text-close:hover {
	color: #eb6200;
	border: 2px solid #eB6200;
    background: #FFEBEE;
}
/* Lime */
body.lime {
	color: rgb(0, 235, 107);
    background-color: rgba(56, 255, 51, 0.1);
}
.lime header {
	box-shadow: 0px 3px 16px rgb(0, 235, 107);
    color: rgb(0, 235, 107);
}
.lime nav a.title {
	color: rgb(0, 235, 107);
}
.lime .main article {
	border: 2rem solid rgb(0, 235, 107);
}
.lime .modal__close {
	color: rgb(0, 235, 107);
}
.lime .modal__content {
	background: rgb(217, 255, 229);;
}
.lime .modal__close .material-icons{
	color: rgb(0, 235, 107);
	background: rgb(217, 255, 229);;
}
.lime .modal__trigger.floating {
	background: rgb(0, 235, 107);
	color: rgba(255,255,255,0.8);
}
.lime .modal__close.text-close {
    background: rgb(0, 235, 107);
    border: 2px solid transparent;
    color: #FFFFFF;
}
.lime .modal__close.text-close:hover {
	color: rgb(0, 235, 107);
    background: rgba(56, 255, 51, 0.1);
    border: 2px solid rgb(0, 235, 107);
}
/* B&W */
body.black {
	color: rgb(80, 80, 80);
    background-color: rgb(255, 255, 255);
}
.black header {
	box-shadow: 0px 3px 16px rgb(80, 80, 80);
    color: rgb(80, 80, 80);
}
.black nav a.title {
	color: rgb(80, 80, 80);
}
.black .main article {
	border: 2rem solid rgb(80, 80, 80);
}
.black .modal__close {
	color: rgb(80, 80, 80);
}
.black .modal__content {
	background: rgb(255, 255, 255);
}
.black .modal__close .material-icons{
	color: rgb(80, 80, 80);
	background: rgb(255, 255, 255);
}
.black .modal__trigger.floating {
	background: rgb(80, 80, 80);
	color: rgb(255, 255, 255);
}

.black .modal__close.text-close {
    background: rgb(80, 80, 80);
    border: 2px solid transparent;
    color: #FFFFFF;
}
.black .modal__close.text-close:hover {
	color: rgb(80, 80, 80);
    background: #ffffff;
    border: 2px solid rgb(80, 80, 80);
}
/* Blue */
body.blue {
	color: rgb(96, 151, 255);
    background-color: rgb(237, 251, 255);
}
.blue header {
	box-shadow: 0px 3px 16px rgb(96, 151, 255);
    color: rgb(96, 151, 255);
}
.blue nav a.title {
	color: rgb(96, 151, 255);
}
.blue .main article {
	border: 2rem solid rgb(96, 151, 255);
}
.blue .modal__close {
	color: rgb(96, 151, 255);
}
.blue .modal__content {
	background: rgb(237, 251, 255);
}
.blue .modal__close .material-icons{
	color: rgb(96, 151, 255);
	background: rgb(237, 251, 255);
}
.blue .modal__trigger.floating {
	background: rgb(96, 151, 255);
	color: rgb(237, 251, 255);
}
.blue .modal__close.text-close {
    background: rgb(96, 151, 255);
    border: 2px solid transparent;
    color: rgb(237, 251, 255);
}
.blue .modal__close.text-close:hover {
	color: rgb(96, 151, 255);
    background: rgb(237, 251, 255);
    border: 2px solid rgb(96, 151, 255);
}

@media only screen and (max-width: 1024px) {
  .main article {
      font-size: 6rem;
      min-width: 10rem;    
      width: 90%;
  }
}