$amp: ".c-countdowner";

#{$amp} {
    // margin: 90px auto;
    position: relative;
    color: $c-light-orange;
	font-family: 'Quicksand';
	font-size: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}
