/**
 * Converts a hash (like: "#fff") to an rgba value, with the given alpha value.
 * Ex.: `hash-to-rgba(#fff, .5)` will result in "rgba(255, 255, 255, .5)".
 */
@function hash-to-rgba($color, $alpha) {
   $red: red($color);
   $green: green($color);
   $blue: blue($color);

   @return rgba($red, $green, $blue, $alpha);
}
