// Only very basic rules should be placed here.
// Ex.: rules for certain tags, like the "body", disabling the "focus outline"
// on buttons/textareas, etc.
body {
    font-family: "Quicksand";
    font-size: 15px;
    line-height: 30px;
    color: $c-med-orange;
    background-color: $c-base-orange;
    -webkit-font-smoothing: antialiased;
}
