<div class="c-ui">
        <div class="c-ui__actual">
          <img src="web/images/draw.png" alt="">
        </div>
        <div class="c-countdowner">
          <input class="js-countdowner" data-width="500" data-height="500"></input>          
        </div>
    </div>

    <div class="c-overlay">
      <div class="c-overlay__wrapper">
        <div class="c-overlay__modal">
          <div class="c-overlay__modal__actual">
            <img src="web/images/draw.png" alt="">
          </div>
          <div class="js-word c-overlay__modal__word">
            alma
          </div>
        </div>
      </div>
    </div>