<!doctype html>
<html lang="en">
<head><title>Online Activity</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <link rel="stylesheet" href="web/css/style.css">
</head>
<body>
    <header class="c-header">
       <div class="c-header__title">
            <h1>online activity</h1>
       </div>
       <div class="c-header__settings">
           <a href="">
               <img src="web/images/settings.png" alt="settings">
           </a>
       </div>
    </header>
    
    <div class="c-ui">
        <div class="c-ui__actual">
          <img src="web/images/draw.png" alt="">
        </div>
        <div class="c-countdowner">
          <input class="js-countdowner" data-width="500" data-height="500"></input>          
        </div>
    </div>