<!doctype html>
<html lang="en">
<head><title>Online Activity</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <link rel="stylesheet" href="web/style/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <header>
    	<nav>
			<a href="\" title="Online Activity" class="title">Online Activity</a>
            <ul>
    			<li><i class="material-icons">settings</i></li>
    		</ul>
    	</nav>
    </header>